[submodule "i2l"]
	path = i2l
	url = https://github.com/phylo42/i2l
[submodule "third-party/indicators"]
	path = third-party/indicators
	url = https://github.com/p-ranav/indicators
[submodule "third-party/cxxopts"]
	path = third-party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
