[submodule "third-party/fast-cpp-csv-parser"]
	path = third-party/fast-cpp-csv-parser
	url = git@github.com:ben-strasser/fast-cpp-csv-parser.git
[submodule "third-party/skarupke"]
	path = third-party/skarupke
	url = git@github.com:skarupke/flat_hash_map.git
[submodule "modules/rappas-core"]
	path = modules/rappas-core
	url = git@gite.lirmm.fr:rappas-team/rappas-core.git
