[submodule "core"]
	path = core
	url = git@github.com:phylo42/xpas.git
[submodule "strasser"]
	path = strasser
	url = git@github.com:nromashchenko/strasser.git
[submodule "rappas"]
	path = rappas
	url = git@github.com:phylo42/RAPPAS.git
